
html {
    scroll-padding-top: 101px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-break: normal;
    line-break: normal;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}