@use "../../foundation" as *;

.section-title {
    font-family: "Inconsolata", monospace;
    font-size: 28px;
    text-align: center;
    margin: 0 auto 10px;
    display: inline-block;
    position: relative;
    color: #000;
}

@include tb {
    .section-title {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

.section-title::after {
    content: "";
    width: 75%;
    height: 1px;
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}