/* header
------------------------------------------ */
.l-header {
    font-family: "Inconsolata", monospace;
    width: 100vw;
    z-index: 100;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .95);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity .6s;
    pointer-events: none;
    display: flex;
}